APP_NAME=SellPlataform
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://sale.victorsf.com
APP_DOMAIN=sale.victorsf.com

APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=pt_BR

APP_MAINTENANCE_DRIVER=file

LOG_CHANNEL=stderr
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=sellplataform
DB_USERNAME=sellplataform
DB_PASSWORD=change-me

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_PATH=/
SESSION_DOMAIN=sale.victorsf.com
SESSION_SECURE_COOKIE=true

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=rabbitmq
CACHE_STORE=redis

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=resend
MAIL_FROM_ADDRESS="hello@victorsf.com"
MAIL_FROM_NAME=SellPlataform
RESEND_API_KEY=

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=sellplataform
RABBITMQ_PASSWORD=change-me
RABBITMQ_VHOST=/
RABBITMQ_QUEUE=default
RABBITMQ_WORKER=default

CADDY_EMAIL=admin@victorsf.com
